# Documentation:
# https://editorconfig.org
# https://aka.ms/editorconfigdocs
#
# Copyright 2022 Jeffrey Sharp
#
# Permission to use, copy, modify, and distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.sln]
charset = utf-8-bom
indent_style = tab

[.root.targets]
charset = utf-8-bom

[*.*proj]
charset = utf-8-bom

[*.{config,json,jsonc,md,*proj,props,runsettings,targets,*xml,yaml,yml}]
indent_size = 2

[*.cs]
csharp_space_after_cast = true
dotnet_sort_system_directives_first = true

[dotnet-tools.json]
insert_final_newline = false
